* {
    margin: 0px;
    padding: 0px;
}

html {
    background: #F1F1F1;
}

body {
    font-family: Arial, sans-serif;
}

.centered {
    margin: 0px auto;
}

.zero-font-size {
    font-size: 0px;
}

form {
    width: 70%;
    margin: 50px auto;
}

input {
    border: none;
}

.header-search {
    display: inline-block;
    box-sizing: border-box;
    width: 93%;
    font-size: 57px; 
    font-weight: bold;
    background: transparent;
    color: #ec5a62;
}

::placeholder {
    color: #c2c2c2;
}


input[type="image"] {
    display: inline-block;
    height: 55px;
    vertical-align: top;
    outline: none;
}

input[type="image"]:active {
    outline: none;
}

main {
    width: 70%;
}

section > h1 {
    font-size: 18px;
    padding-bottom: 10px;
    color: #C2C2C2;
}

section {
    display: inline-block;
    width: 30%;
}

.central-section {
    margin: 0px 5%;
}

ul {
    list-style: none;
}

a {
    display: block;
    padding: 10px;
    color: #c2c2c2;
}

li {
    box-sizing: border-box;
    margin-bottom: 3px;
    background: #EBEBED;
}

li:hover {
    background: rgba(118,117,128,0.1);
}

li:hover a {
    color: #ec5a62;
}

li a > img {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
}


img + h2 {
    display: inline-block;
    vertical-align: middle;
    font-size: 15px;
    font-weight: bold;
    width: 180px;
}

.rounded {
    border-radius: 50%;
}